#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-container{
display: flex;
flex-direction: column;
background-color:rgb(31, 41, 99);
border-radius: 15px;
padding: 10px;
width: 35vh;
height: 50vh;
}


.main-form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.login-a:hover{
cursor:pointer ;

}
.login-a{
color:rgb(153, 49, 153);;
text-decoration:underline ;
}
.main-input{
  padding: 5px;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  color:rgb(26, 26, 26);
}
.main-input:focus,.login-input:focus-visible{
border-radius: 3px;

}
.main-button:focus,.login-button:focus-visible{
outline: auto;
}
.login-button{
  background-color: rgb(58, 169, 90);
}
.main-a:visited{
color: rgb(11, 19, 63);
}


